header{
    height: 2.375rem;
    margin-bottom: 32px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name{
    color:#222731;
}

.theme-color{
    font-weight: bold;
    letter-spacing: 0.15625rem;
    text-transform: uppercase;

    color: var(--body2-color--light);
    fill: var(--body2-color--light);
    display: flex;
    gap: 16px;
    align-items: center;

}

.theme-color:hover{
    color: #222731;
    fill: #222731;
    cursor: pointer;
}

.theme-color__img{
    width: 1.25rem;
    aspect-ratio: 1/1;
    
}